<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatViewController</key>
	<dict>
		<key>alertMessage</key>
		<string>User is not online. He can`t receive messages</string>
		<key>alertTitle</key>
		<string>Oops!</string>
		<key>alertActionTitle</key>
		<string>Try latter</string>
		<key>toolBarPlaceholder</key>
		<string>Message</string>
	</dict>
	<key>RegisterViewController</key>
	<dict>
		<key>namePlaceholder</key>
		<string>e-mail</string>
		<key>passwordPlaceholder</key>
		<string>password</string>
		<key>secondPasswordPlaceholder</key>
		<string>password second time</string>
		<key>authTextForButton</key>
		<string>Log in</string>
		<key>sighUpTextForButton</key>
		<string>Sign up</string>
		<key>orLabelText</key>
		<string>or</string>
		<key>errorLabelPasswordInvalid</key>
		<string>Password should be 6+ symbols</string>
		<key>errorLabelEmailInvalid</key>
		<string>Not correct e-mail</string>
		<key>errorLabelPasswordsNotTheSame</key>
		<string>Passwords don&apos;t match</string>
		<key>alertControllerTitle</key>
		<string>Error!</string>
		<key>alertControllerOKAction</key>
		<string>Ok</string>
		<key>alertControllerInvalidPassword</key>
		<string>Password is not valid. It should be 6+ symbols</string>
		<key>alertControllerAuthError</key>
		<string>Login or password is wrong. Try again:)</string>
		<key>alertControllerGoogleAuthError</key>
		<string>Something wrong with Google sign in. Please try another way to log in</string>
		<key>alertControllerAppleAuthError</key>
		<string>Something wrong with Apple sign in. Please try another way to log in</string>
		<key>alertControllerFacebookAuthError</key>
		<string>Something wrong with Facebook sign in. Please try another way to log in</string>
		<key>alertControllerSignUpError</key>
		<string>Passwords don&apos;t match. Try again:)</string>
		<key>alertControllerInvalidEmail</key>
		<string>Email is invalid, please try again</string>
		<key>alertControllerIsAlreadySignUp</key>
		<string>Account with this email is already signed up</string>
		<key>termsOfUse</key>
		<string>Terms of use</string>
		<key>privacyPolicy</key>
		<string>Privacy policy</string>
	</dict>
	<key>ChatsListViewController</key>
	<dict>
		<key>title</key>
		<string>Chat list</string>
		<key>searchBarPlaceholder</key>
		<string>Search for chats</string>
		<key>deleteButtonTitle</key>
		<string>Delete</string>
		<key>alertTitle</key>
		<string>Oops!</string>
		<key>alertMessage</key>
		<string>Could not connect to the server</string>
		<key>alertActionTitle</key>
		<string>Try again</string>
		<key>noChatsText</key>
		<string>Start your first chat!</string>
		<key>noChatsFoundText</key>
		<string>No chat was found.</string>
	</dict>
	<key>SettingsViewController</key>
	<dict>
		<key>profileCellTitle</key>
		<string>Profile</string>
		<key>removeCellTitle</key>
		<string>Remove profile</string>
		<key>logOutCellTitle</key>
		<string>Log out</string>
		<key>title</key>
		<string>Settings</string>
	</dict>
	<key>NewChatViewController</key>
	<dict>
		<key>navBarTitle</key>
		<string>Write Message</string>
		<key>searchBarPlaceholder</key>
		<string>Write user email</string>
		<key>emptyStateText</key>
		<string>Start searching...</string>
	</dict>
	<key>ProfileViewController</key>
	<dict>
		<key>uploadButtonText</key>
		<string>Upload image</string>
		<key>nameTextfieldPlaceholder</key>
		<string>Name</string>
		<key>saveButtonTitle</key>
		<string>Save</string>
		<key>alertTitle</key>
		<string>Choose resource</string>
		<key>camera</key>
		<string>Camera</string>
		<key>library</key>
		<string>Library</string>
		<key>alertNoNameTitle</key>
		<string>Ooops!</string>
		<key>alertNoNameMessage</key>
		<string>Name shouldn`t be empty</string>
		<key>alertOkAction</key>
		<string>Ok</string>
	</dict>
</dict>
</plist>
