<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegisterViewController</key>
	<dict>
		<key>registerOrLabel</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<key>changeStateButton</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>registerErrorLabel</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>registerTextfield</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<key>submitButton</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>ChatsListViewController</key>
	<dict>
		<key>navBarTitle</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<key>emptyStateTitle</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<key>searchTextfieldPlaceholder</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>cellMessageBaseFont</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>12</integer>
		</dict>
		<key>cellMessageUserFont</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SettingsViewController</key>
	<dict>
		<key>cellTitle</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>NewChatViewController</key>
	<dict>
		<key>searchTextfieldPlaceholder</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>cancelButton</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<key>navBarTitle</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<key>emptyStateText</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>ProfileViewController</key>
	<dict>
		<key>textfield</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>button</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>ChatViewController</key>
	<dict>
		<key>toolBarPlaceholder</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>userName</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>time</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>12</integer>
		</dict>
		<key>messageText</key>
		<dict>
			<key>fontName</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
