<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.236565682646-gibikgmr924dl2q4l8ok8iru6h1up0pu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb274726851530866</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>274726851530866</string>
	<key>FacebookClientToken</key>
	<string>43bed41f8de7537a671b9e66a9d851d1</string>
	<key>FacebookDisplayName</key>
	<string>myChat</string>
</dict>
</plist>
